.activity-feed {

}



.border {
  border: 1px solid grey;

}

.split-para {
  display: block;
  margin: 10px;
}

.split-para span {
  display: block;
  float: right;
  /*width: 50%;*/
  margin-left: 10px;
}

ol {
    display: block;
    padding: 0 0 0 56px;
    list-style: none;
    background: white;
    overflow: hidden;
    counter-reset: numList;
}



ol li:before {
    counter-increment: numList;
    content: counter(numList);

    float: left;
    position: relative;
    left: -54px;


    font: bold 15px sans-serif;
    text-align: center;
    color: #fff;
    line-height: 44px;

    width: 47px; height: 47px;
    background: #28AF71;

    -moz-border-radius: 15px 15px 15px 15px;
    border-radius: 15px 15px 15px 15px;
}

a:link {

  text-decoration: none;
}

a:visited {
  color: skyblue;
}

@media only screen and (max-width: 767px) {
    activity-feed {
        display: block;
    }

}

@media only screen and (max-width: 767px) {
    span {
color: #28AF71;
font-style: italic;

    }

}
